# Вітаю на фінальному проєкті!
Протягом курсу ми навчились завантажувати дані в Python, трансформувати їх, чистити, агрегувати, знаходити з допомогою даних відповіді на наші питання, використовувати sql, а також Tableau! 
Задача фінального проєкту - продемонструвати той рівень роботи з даними, на якому Ви є зараз, показати, що Ви вмі
те робити.

## Робота з Excel файлом
Цей ноутбук буде присвячений аналізу даних з файла `Grocery DataBase.xlsx`. Так, це Excel файл, і ми можемо дуже просто завантажувати дані з нього у Python. Покажу пару команд для роботи з Excel файлом.

Для початку встановимо бібліотеку, яка потрібна для роботи з Excel файлами з pandas. Можна встановити тут, або в терміналі, але якщо Ви встановлюєте в терміналі, то після того треба перезапустити ядро (Kernel) ноутбуку, аби бібліотека точно підтягнулась. Іноді підтягується і без того, але це на випадок, що робити, якщо компілятор каже, що її не бачить.

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\tetiana.zalivan\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\tetiana.zalivan\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd

Ось так можемо переглянути, які є листки в Excel файлі:

In [3]:
# замініть на шлях до файлу на своєму комп`ютері
path_to_file = '../data/Grocery Database.xlsx'

In [4]:
xl = pd.ExcelFile(path_to_file)
xl.sheet_names

['Grosto DB', 'Sheet2', 'Fact Summary']

А так можемо зчитати конкретний листок:

In [5]:
descr = xl.parse('Fact Summary')
descr

,S.No.,Column Name,Description of the Column names
0,1,Receipt Number,Transaction Number
1,2,Date,Date of Transaction
2,3,Year,Year of Transaction
3,4,Month,Month of Transaction
4,5,Time,Time of the transaction
5,6,Mobile Number,Monbile number of the customer
6,7,Membership ID,Unique Membership ID of the Customer
7,8,Loyalty Card Points,Loyalty Points earned by customer (10 Points/1...
8,9,Age,Age of the Customer in the Company Database
9,10,Gender,Gender of the customer
10,11,City,City Name of store
11,12,Country,Country Name of store
12,13,Category,Category of Item bought by customer
13,14,Sub_Category,Sub-Category of Item bought by customer
14,15,Items,Name if the item bought by customer
15,16,Brand,Brand of the Item bought
16,17,Description,Description of the Item (weight/volume/pack si...
17,18,Price,Price per unit of the Item
18,19,QTY,Quantity bought by the cistomer
19,20,DISC,Discount offered by store
20,21,Net Bill Amount,Amount exclusive of tax payable to customer
21,22,GST,Tax Payable
22,23,Gross Bill Amount,Gross Bill to be paid by customer inclusive of...
23,24,Payment Mode,Mode of payment opted by customer
24,25,Bank Name,Name of the Bank
25,26,% Profit Margin,Percentage profit margin of store
26,27,% Operating Cost,Percentage operating cost of store
27,28,% Product Cost,Percentage product cost to store
28,29,Profit Margin,Profit Margin earned by store
29,30,Operating Cost,Operating cost beared by the store
30,31,Product Cost,Product Cost for the store

Читати дані можна і з Pandas, але тут немає можливості переглянути наявні листки, а також довше відбувається читання даних.

In [6]:
df = pd.read_excel(path_to_file)

В файлі ви знайдете опис колонок і значення.   

**Задача**: Уявіть, що Вам дали цей набір даних з питанням "Що корисного ми можемо з них взяти для розвитку нашого бізнесу?". То Вам необхідно розказати бізнесу історію про ці дані у форматі
1. питання, яке Вас цікавить щодо цих даних як співробітника цього бізнесу, який дуже вболіває за його успіх, 
2. код для відповіді на це питання
3. висновки, які Ви зробили з огляду на результат виконання коду: які рішення ми можемо прийняти щодо подальших кроків в аналізі або які рекомендації Ви б дали бізнесу виходячи з результатів.

**Необхідно** 

1. поставити до даних _мінімум_ 10 бізнес-питань, при цьому зробивши   
- початковий аналіз даних: їх розмір, структура, наявність пропущених значень та що з ними зробити, зміна типів даних там, де це доречно зробити (наприклад, якщо колонка завантажилась як тип string, а з опису видно, що там має бути float - варто змінити тип) - ця частина не входить у бізнес-питання, але є необхідною при аналізі даних.  
- _мінімум_ 1 зведеної таблиці (pivot) або її аналога
- _мінімум_ 5 візуалізацій, 3 з яких мають різний тип (наприклад, scatter plot, line plot, pair plot)
- _мінімум_ 1 використання тестування статистичних гіпотез. Наприклад, порівняти, чи стат значимо відрізняється певний цікавий бізнесу показник для чоловіків і жінок. Важливо, що найбільш доречно це буде, якщо той показник, який порівнюємо між групами, справді має доволі незначну різницю. Але потренуватись можна і при наявності значної. Питання тут насправді що таке "значна")) І воно залежить від співвідношення розміру середнього і стандартного відхилення.

    В даному мінімум-наборі немає вимоги на використання SQL. Але якщо Вам хочеться потренуватись, то Ви можете це зробити скориставшись pandasql. 

    Питанням може бути як "Яка є кількість унікальних чеків в цьому наборі даних?" так і щось значно складніше. Якщо у Вас складне питання, і аби відповісти на нього Ви мали відповісти на 3 менших питання (зробити якісь трансформації над даними, подивитись щось), то це рахується як 3 питання з 10 необхідних у завданні. Звісно ж Ви можете зробити більше за встановлений мінімум - все буде перевірено :)

2. Розробити систему метрик для цього бізнесу (що нам цікаво вимірювати) і побудувати Tableau репорт відповідно до системи метрик. Опублікувати Tableau репорт на Tableau public і додати посилання на нього в ноутбуці з описом на кшталт "Візуалізацію у вигляді інтерактивного репорту даних можна знайти за посиланням".

По закінченню - завантажте ноутбук на git і додаємо посилання на ноутбук в здачу роботи в Kwiga. 
До речі, з часом, Вам може захотітись доповнити цей ноутбук, коли арсенал Ваших навичок по роботі з даними розшириться. І це буде чудова ідея!

**Успіхів!**

# Data Overview and Cleaning

In [7]:
# All the cleaning and analysis I prefer to do in the copy of the origin df
cleaned_df = df.copy()

In [8]:
#View and check: type, column names, data size and null values
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50447 entries, 0 to 50446
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Receipt Number       50447 non-null  object
 1   Date                 50447 non-null  datetime64[ns]
 2   Year                 50447 non-null  int64
 3   Month                50447 non-null  int64
 4   Time                 50447 non-null  object
 5   Mobile Number        50447 non-null  int64
 6   Membership ID        50447 non-null  object
 7   Loyalty Card Points  50447 non-null  int64
 8   Age                  50447 non-null  int64
 9   Gender               50447 non-null  object
 10  City                 50447 non-null  object
 11  Country              50447 non-null  object
 12  Category             50447 non-null  object
 13  Sub_Category         50447 non-null  object
 14  Items                50447 non-null  object
 15  Brand                50447 non-null  object
 16  Description          50447 non-null  object
 17  Price                50447 non-null  float64
 18  QTY                  50447 non-null  int64
 19  DISC                 50447 non-null  float64
 20  Amount               50447 non-null  float64
 21  Net Bill Amount      50447 non-null  float64
 22  GST                  50447 non-null  float64
 23  Gross Bill Amount    50447 non-null  float64
 24  Payment Mode         50447 non-null  object
 25  Bank Name            50447 non-null  object
 26  % Profit Margin      50447 non-null  float64
 27  % Operating Cost     50447 non-null  float64
 28  % Product Cost       50447 non-null  float64
 29  Profit Margin        50447 non-null  float64
 30  Operating Cost       50447 non-null  float64
 31  Product Cost         50447 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(6), object(13)
memory usage: 12.3+ MB
None

In [9]:
#Display all columns for the first 3 rows
with pd.option_context('display.max_columns', None):
    display(cleaned_df[:3])

,Receipt Number,Date,Year,Month,Time,Mobile Number,Membership ID,Loyalty Card Points,Age,Gender,City,Country,Category,Sub_Category,Items,Brand,Description,Price,QTY,DISC,Amount,Net Bill Amount,GST,Gross Bill Amount,Payment Mode,Bank Name,% Profit Margin,% Operating Cost,% Product Cost,Profit Margin,Operating Cost,Product Cost
0,GIJ00001,2016-01-02,2016,1,10:08:03.260000,9793548581,MIDID0001,1,36,Male,Jakarta,Indonesia,"Choco, Snacks, Sweets",Biscuits & Crackers,Oreo mini oreo sharepack,Oreo,540 g,3.09,4,0.02,12.1128,12.1128,0.1,13.32408,Card,Enterprise Bank,0.150,0.15,0.700,1.85400,1.8540,8.65200
1,GIJ00002,2016-01-02,2016,1,15:46:50.832000,9938441276,MIDID0002,2,54,Male,Jakarta,Indonesia,"Wines, Beers & Spirits",Beer,Ashai Lager Beer,Ashai,480 ml,11.60,2,0.01,22.9680,22.9680,0.1,25.26480,Card,Philippine Veterans Bank,0.118,0.15,0.732,2.73760,3.4800,16.98240
2,GIJ00003,2016-01-02,2016,1,11:28:52.166000,9976742552,MIDID0003,1,16,Female,Jakarta,Indonesia,Fruit & Vegetable,Frozen Fruits,Cascadian farm organic strawberries,Cascadiam Farm,1 Kg,13.31,1,0.01,13.1769,38.3526,0.1,42.18786,Cash,BDO Unibank,0.147,0.15,0.703,1.95657,1.9965,9.35693

## Data check and editing

In [10]:
import datetime

In [38]:
cleaned_df[cleaned_df.duplicated()]  #duplicates check

,Receipt Number,Date,Year,Month,Time,Mobile Number,Membership ID,Loyalty Card Points,Age,Gender,...,Gross Bill Amount,Payment Mode,Bank Name,% Profit Margin,% Operating Cost,% Product Cost,Profit Margin,Operating Cost,Product Cost,Standardized_Time
32664,GSB00094,2016-02-12,2016,2,14:01:00.088000,9853108031,MIDSG0091,2,60,Female,...,8.41662,Cash,ING Bank,0.093,0.15,0.757,0.38502,0.621,3.13398,14:01

In [39]:
with pd.option_context('display.max_columns', None):
    display(cleaned_df[cleaned_df['Receipt Number'] == "GSB00094"])
# 2 same goods bought at the same time, not a duplicate

,Receipt Number,Date,Year,Month,Time,Mobile Number,Membership ID,Loyalty Card Points,Age,Gender,City,Country,Category,Sub_Category,Items,Brand,Description,Price,QTY,DISC,Amount,Net Bill Amount,GST,Gross Bill Amount,Payment Mode,Bank Name,% Profit Margin,% Operating Cost,% Product Cost,Profit Margin,Operating Cost,Product Cost,Standardized_Time
32663,GSB00094,2016-02-12,2016,2,14:01:00.088000,9853108031,MIDSG0091,2,60,Female,Bedok,Singapore,"Choco, Snacks, Sweets",snacks,Tostitos medium chunky salsa,Tostitos,270 g,4.14,1,0.05,3.933,7.866,0.07,8.41662,Cash,ING Bank,0.093,0.15,0.757,0.38502,0.621,3.13398,14:01
32664,GSB00094,2016-02-12,2016,2,14:01:00.088000,9853108031,MIDSG0091,2,60,Female,Bedok,Singapore,"Choco, Snacks, Sweets",snacks,Tostitos medium chunky salsa,Tostitos,270 g,4.14,1,0.05,3.933,7.866,0.07,8.41662,Cash,ING Bank,0.093,0.15,0.757,0.38502,0.621,3.13398,14:01

In [19]:
#Create column with HH:MM
cleaned_df['Standardized_Time'] = pd.to_datetime(cleaned_df['Time'], errors='coerce', format='%I:%M:%S %p').dt.strftime('%H:%M').fillna(
    pd.to_datetime(cleaned_df['Time'], errors='coerce', format='%H:%M:%S.%f').dt.strftime('%H:%M')
)
# Handle any remaining time values that may not be parsed (42 NaN values)
cleaned_df['Standardized_Time'] = cleaned_df['Standardized_Time'].fillna(cleaned_df['Time'].astype(str).str[:5])

In [116]:
cleaned_df.columns = cleaned_df.columns.str.strip()   # clean columns whitespace
cleaned_df.columns = cleaned_df.columns.str.replace(' ', '_') #cleaner column names

In [99]:
#Data storage optimization, no need to store duplicate names as objects
cleaned_df[['Membership_ID', 'Gender', 'City', 'Country', 'Category', 'Sub_Category', 'Items', 'Brand','Payment_Mode', 'Bank_Name']] = cleaned_df[['Membership_ID', 'Gender', 'City', 'Country', 'Category', 'Sub_Category', 'Items','Brand',  'Payment_Mode', 'Bank_Name']].astype('category')

In [126]:
#Reasonable ranges check

# Function to print the range of a numeric column with optional rounding
def print_range(column_name, round_digits=None):
    min_value = cleaned_df[column_name].min()
    max_value = cleaned_df[column_name].max()
    if round_digits is not None:
        min_value = round(min_value, round_digits)
        max_value = round(max_value, round_digits)
    print(f"{column_name} Range: {min_value} - {max_value}")


print_range('Age')
print_range('Amount', 2)
print_range('Year')
print_range('DISC', 2)
print_range('Price', 2)
print_range('QTY')
print_range('GST', 2)
print_range('Gross_Bill_Amount', 2)
print_range('Profit_Margin', 2)
print_range('Operating_Cost', 2)
print_range('Net_Bill_Amount', 2)
print_range('Product_Cost', 2)
print_range('%_Profit_Margin', 2)
print_range('%_Product_Cost', 2)
print_range('%_Operating_Cost', 2)

print(cleaned_df['Gender'].astype('str').unique())

Age Range: 15 - 75
Amount Range: 0.8 - 299.83
Year Range: 2016 - 2019
DISC Range: 0.01 - 0.05
Price Range: 0.84 - 40.33
QTY Range: 1 - 9
GST Range: 0.06 - 0.12
Gross_Bill_Amount Range: 1.04 - 559.33
Profit_Margin Range: 0.07 - 26.23
Operating_Cost Range: 0.13 - 46.85
Net_Bill_Amount Range: 0.98 - 527.67
Product_Cost Range: 0.61 - 239.24
%_Profit_Margin Range: 0.05 - 0.15
%_Product_Cost Range: 0.7 - 0.8
%_Operating_Cost Range: 0.15 - 0.15
['Male' 'Female']

Age Range: 15 - 75
Amount Range: 0.8 - 299.83
Year Range: 2016 - 2019
DISC Range: 0.01 - 0.05
Price Range: 0.84 - 40.33
QTY Range: 1 - 9
Net_Bill_Amount Range: 0.98 - 527.67
GST Range: 0.06 - 0.12

In [121]:
columns_to_check = ['Net_Bill_Amount', 'Gross_Bill_Amount', 'Profit_Margin', 'Operating_Cost', 'Product_Cost']
checks = (cleaned_df[columns_to_check] > 0).all()
checks

Net_Bill_Amount      True
Gross_Bill_Amount    True
Profit_Margin        True
Operating_Cost       True
Product_Cost         True
dtype: bool

## Calculatins check

Assuming that the values for Price, QTY, DISC,GST and Amount are correct and beyond our control, we can proceed with validation checks for the calculated columns.

In [111]:
# Calculate the expected Net Bill Amount
cleaned_df['Calculated_Net_Bill_Amount'] = cleaned_df['Price'] * cleaned_df['QTY'] * (1 - cleaned_df['DISC'])

# Compare with the existing Net Bill Amount
net_bill_check = cleaned_df[abs(cleaned_df['Net_Bill_Amount'] - cleaned_df['Calculated_Net_Bill_Amount']) > 1e-6]

print(f"Net Bill Amount Check: {len(net_bill_check)} discrepancies found")
if not net_bill_check.empty:
    print(net_bill_check[['Receipt_Number', 'Net_Bill_Amount', 'Calculated_Net_Bill_Amount']])

Net Bill Amount Check: 46441 discrepancies found
      Receipt_Number  Net_Bill_Amount  Calculated_Net_Bill_Amount
2           GIJ00003          38.3526                     13.1769
3           GIJ00003          38.3526                      3.4848
4           GIJ00003          38.3526                      4.3659
5           GIJ00003          38.3526                      2.7819
6           GIJ00003          38.3526                      3.2472
...              ...              ...                         ...
50441       GSW01533          74.1664                     20.3840
50442       GSW01533          74.1664                      6.0760
50444       GSW01535          14.0184                      3.9303
50445       GSW01535          14.0184                      4.0590
50446       GSW01535          14.0184                      6.0291

[46441 rows x 3 columns]

## Final Check before Analysis

In [106]:
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50447 entries, 0 to 50446
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Receipt_Number              50447 non-null  object
 1   Date                        50447 non-null  datetime64[ns]
 2   Year                        50447 non-null  int64
 3   Month                       50447 non-null  int64
 4   Time                        50447 non-null  object
 5   Mobile_Number               50447 non-null  int64
 6   Membership_ID               50447 non-null  category
 7   Loyalty_Card_Points         50447 non-null  int64
 8   Age                         50447 non-null  int64
 9   Gender                      50447 non-null  category
 10  City                        50447 non-null  category
 11  Country                     50447 non-null  category
 12  Category                    50447 non-null  category
 13  Sub_Category                50447 non-null  category
 14  Items                       50447 non-null  category
 15  Brand                       50447 non-null  category
 16  Description                 50447 non-null  object
 17  Price                       50447 non-null  float64
 18  QTY                         50447 non-null  int64
 19  DISC                        50447 non-null  float64
 20  Amount                      50447 non-null  float64
 21  Net_Bill_Amount             50447 non-null  float64
 22  GST                         50447 non-null  float64
 23  Gross_Bill_Amount           50447 non-null  float64
 24  Payment_Mode                50447 non-null  category
 25  Bank_Name                   50447 non-null  category
 26  %_Profit_Margin             50447 non-null  float64
 27  %_Operating_Cost            50447 non-null  float64
 28  %_Product_Cost              50447 non-null  float64
 29  Profit_Margin               50447 non-null  float64
 30  Operating_Cost              50447 non-null  float64
 31  Product_Cost                50447 non-null  float64
 32  Standardized_Time           50447 non-null  object
 33  Calculated_Net_Bill_Amount  50447 non-null  float64
dtypes: category(10), datetime64[ns](1), float64(13), int64(6), object(4)
memory usage: 10.0+ MB
None

null_counts = cleaned_df.isnull().sum()
print("Null values per column:\n", null_counts)

## Columns navigation after data cleaning

Excluded >>> To be used 
    Time >>> Standardized_Time