У завданнях 1-4. Вам наданий простий код на Python, який не відповідає вказівкам PEP8. Ваше завдання — відредагувати код так, аби він відповідав PEP8. Напишіть після редагуванню коду, дотримання яких правил з pep8 ви досягли в відредагованій версі, наприклад
```
- додала пробіли навколо бінарного оператора
- додала два порожні рядки між визначеннями функцій
і тд
```
Також можна зазанчити використані правила коментарями по коду, а не окремим повідомленням.

Відредагований код має виконувати весь той самий функціонал, але бути написаний відповідно до вимог до гарного коду на Python! Не забудьте запустити відредагований код, він має бути робочим.

Завдання 1.

In [1]:
def greet(name):print(f"Hello, {name}")
def add(n1,n2):return n1+n2

x = 5;y = 3
display(greet("John"),add(x,y))

Hello, John

None

8

In [2]:
def greet(name: str) -> str:
    """
    Greets the person with the given name.

    Parameters:
    name (str): The name of the person to greet.

    Returns:
    str: The greeting message.
    """
    return f"Hello, {name}"


def add_(n1: int, n2: int) -> int:
    """
    Adds two numbers and returns the result.

    Parameters:
    n1 (int): The first number.
    n2 (int): The second number.

    Returns:
    int: The sum of n1 and n2.
    """
    return n1 + n2

x, y = 5, 3

greeting_message = greet("John")
print(greeting_message)

result = add_(x, y)
print(result)

# Note: display function is not a standard function, so it's not used here


#changes: function visibility,spaces,"_"after add as add is standard method,variable x,y optimization,
#docstrings,int, str data types, None deleted from result >greeting function return result instead of printing
#defs print call independent

Hello, John
8

Завдання 2.

In [3]:
from math import *
def calcArea(r):return pi*r**2
def calcCircumference(r):return 2*pi*r

radius=5
print("Area:",calcArea(radius),"Circumference:",calcCircumference(radius))

Area: 78.53981633974483 Circumference: 31.41592653589793

In [4]:
from math import pi
def calc_area(r: float) -> float:
    """
    Calculates the area of a circle with the given radius.

    Parameters:
    r (float): The radius of the circle.

    Returns:
    float: The area of the circle, rounded to four decimal places.
    """
    return round(pi * r ** 2,4)
def calc_circumference(r: float) -> float:
    """
    Calculates the circumference of a circle with the given radius.

    Parameters:
    r (float): The radius of the circle.

    Returns:
    float: The circumference of the circle, rounded to four decimal places.
    """
    return round(2 * pi *r,4)

radius = 5
print(f"Area: {calc_area(radius)}, Circumference: {calc_circumference(radius)}")

"""
Changes: 
import * >>> import pi (to spesify what we need/use)
def >>>docstrings,function visibility,spaces,snake_case,data types
variable,print >>> spaces, f string, round for better visibility
"""

Area: 78.5398, Circumference: 31.4159

'\nChanges: \nimport * >>> import pi (to spesify what we need/use)\ndef >>>docstrings,function visibility,spaces,snake_case,data types\nvariable,print >>> spaces, f string, round for better visibility\n'

Завдання 3.

In [14]:
class animal: pass
class dog(animal):
    def __init__(self,name):
        self.name=name
        self.type='Dog'

In [21]:
class Animal:
    """
    A class representing an animal.
    """

    def __init__(self):
        pass

class Dog(Animal):
    """
    A class representing a dog, inheriting from Animal.

    Attributes:
    name (str): The name of the dog.
    type (str): The type of the animal, which is 'Dog'.
    """

    def __init__(self, name):
        """
        Initializes a Dog object with a name.

        Parameters:
        name (str): The name of the dog.
        """
        super().__init__()
        self.name = name
        self.type = 'Dog'

"""changes:
classes >>> uppercase, empty initialization fix def __init__(self)
function >>> docstring,spaces, Superclass added to ensure that Animal is performed before Dog
"""

'changes:\nclasses >>> uppercase, empty initialization fix def __init__(self)\nfunction >>> docstring,spaces, Superclass added to ensure that Animal is performed before Dog\n'

Завдання 4.

In [6]:
list=[1,2,3,4,5]
for i in range(len(list)):print(list[i])

1
2
3
4
5

In [34]:
mylist = [1,2,3,4,5]
for num in mylist:
    print(num)



"""
changes:
spaces,renaming, simplification
"""

1
2
3
4
5

'\nchanges:\nspaces,List Comprehensions\n'

5.У вас є DataFrame df, що представляє результати тестів студентів з математики, англійської мови та історії. Поточний код обчислює середній бал для кожного студента шляхом ітерації за рядками DataFrame за допомогою iterrows().

Ваше завдання полягає в тому, щоб змінити код так, аби уникнути використання iterrows() і замість цього застосувати більш ефективне та читабельне рішення відповідно до правил, озвучених у лекції. Рефакторинг треба зробити лише частині, де рахуються середні, імпорт і визначення датафрейму лишаємо без змін.

In [37]:
import pandas as pd

df = pd.DataFrame({
    'student': ['Alice', 'Bob', 'Charlie', 'David'],
    'math_score': [89, 94, 77, 85],
    'english_score': [92, 88, 79, 85],
    'history_score': [84, 92, 81, 89]
})
df

   student  math_score  english_score  history_score
0    Alice          89             92             84
1      Bob          94             88             92
2  Charlie          77             79             81
3    David          85             85             89

In [47]:
averages = []
for _, row in df.iterrows():
    averages.append((row['math_score'] + row['english_score'] + row['history_score']) / 3)

df['average_score'] = averages
df

   student  math_score  english_score  history_score  average_score
0    Alice          89             92             84      88.333333
1      Bob          94             88             92      91.333333
2  Charlie          77             79             81      79.000000
3    David          85             85             89      86.333333

In [46]:
df['average_score'] = round((df['math_score'] + df['english_score'] + df['history_score']) / 3, 2)
df
#pd vectorized calculation, is it ok to round like this??? do not like long numbers

   student  math_score  english_score  history_score  average_score
0    Alice          89             92             84          88.33
1      Bob          94             88             92          91.33
2  Charlie          77             79             81          79.00
3    David          85             85             89          86.33

6.У Вас є великий DataFrame df, що представляє транзакції продажу в магазині. Цей DataFrame містить понад 1 мільйон рядків і кілька стовпців, зокрема «product_name», «product_category», «product_price» і «transaction_date».

І «product_name», і «product_category» є рядками, що представляють численні, але обмежені унікальні назви продуктів і категорії відповідно.

Напишіть код для ефективного перетворення стовпців «product_name» і «product_category» на категорійний тип для ефективного використання пам’яті.
Спробуйте вирішити це завдання, мінімізуючи використання пам'яті та зберігаючи читабельність коду. Крім того, виміряйте використання пам’яті до та після перетворення, щоб продемонструвати підвищення ефективності.

Порівняйте кількість памʼяті, яку займає наданий набір даних і новий, створений Вами. В лекції був приклад. В скільки разів менше памʼяті займає новий датафрейм?

In [59]:
import pandas as pd
import numpy as np

np.random.seed(0)

products = ['apple', 'banana', 'cherry', 'dates', 'elderberry']
categories = ['fruit', 'fruit', 'fruit', 'fruit', 'fruit']

N_ROWS = 10**6

df = pd.DataFrame({
    'product_name': np.random.choice(products, N_ROWS),
    'product_category': np.random.choice(categories, N_ROWS),
    'product_price': np.random.uniform(1, 10, N_ROWS),
    'transaction_date': pd.date_range(start='1/1/2000', periods=N_ROWS, freq='h')
})

df.memory_usage(index=False).sum()

32000000

In [60]:
for col in df.columns:
    df[col] =  pd.Categorical(df[col])
df.memory_usage(index=False).sum()

93633560

In [64]:
import pandas as pd
import numpy as np

np.random.seed(0)

products = ['apple', 'banana', 'cherry', 'dates', 'elderberry']
categories = ['fruit', 'fruit', 'fruit', 'fruit', 'fruit']

N_ROWS = 10**6

df = pd.DataFrame({
    'product_name': np.random.choice(products, N_ROWS),
    'product_category': np.random.choice(categories, N_ROWS),
    'product_price': np.random.uniform(1, 10, N_ROWS),
    'transaction_date': pd.date_range(start='1/1/2000', periods=N_ROWS, freq='h')
})

# Calculate df memory usage
initial_memory = df.memory_usage(index=False).sum()
print(f"Initial memory usage: {initial_memory / 1024**2} MB")

# Convert 'product_name' and 'product_category' to categorical type
df['product_name'] = df['product_name'].astype('category')
df['product_category'] = df['product_category'].astype('category')

# Calculate memory usage after conversion
final_memory = df.memory_usage(index=False).sum()
print(f"Memory usage after conversion: {final_memory / 1024**2} MB")

# Memory usage reduction ratio
reduction_ratio = initial_memory / final_memory
print(f"Memory reduction ratio: {reduction_ratio:.2f}")

Initial memory usage: 30.517578125 MB
Memory usage after conversion: 17.16645050048828 MB
Memory reduction ratio: 1.78

7.В цьому завданні кілька пунктів. Треба виконати усі послідовно.   
    7.1. Завантажте дані у pandas dataframe з файла `ecommerce_data.csv`. Обовʼязково при завантаженні вкажіть параметр `encoding = 'ISO-8859-1'`, без нього буде помилка.  
    7.2. Заповніть пропущені значення в колонці CustomerID на -1 та перетворіть тип цієї колонки на str, адже зараз вона типу float, а це не правильний тип даних для ідентифікатора клієнта.  
    7.3. З допомогою бібліотеки sweetviz побудуйте html звіт, який порівнює дані для країни "Germany" і країни "France". У Вас можуть виникнути багато попереджень (Warning), їх рекомендую вимкнути наступним шматком коду   
    
   
    import warnings

    with warnings.catch_warnings(record=True):
        # your code
    
    
   7.4.Напишіть 5 відмінностей для двох зазначених країн на основі побудованого звіту, без виконання додаткового аналізу іншими інструментами.

8.З допомогою ChatGPT виявіть, чи є та які помилки в наступному коді.  
Попросіть після цього переписати код із дотриманням PEP8. Проаналізуйте результат. Чи справді ChatGPT виправив всі стилістичні помилки? Якщо ні, напишіть йому ще кілька запитів, аби код відповідав вимогам PEP8.  
Вставте фінальну версію коду з чату у ноутбук та запустіть на заданому списку. Має вертатись 50.  
Напишіть, які промпти (інструкції) при зверненні до ChatGPT ви застосували та додайте скріншот(-и) з промптами та відповідями чата.  
Якщо зробили висновки при виконанні цього завдання, то діліться також :)

**ЯК ВСТАВИТИ СКРІНШОТ в Jupyter Notebook** :
1. Створіть нову Markdown клітинку
2. В новоствореній клітинці обираєте в меню Jupyter Notebook Edit -> Insert Image
3. Обираєте картинку
4. В клітинці має зʼявитись текст, який містить картинку. Запустіть клітинку.

Або можна просто перетягнути картинку в Markdown клітинку.

In [10]:
def CalculateVariance(nl):
    sum_list = 0
    for n in nl:
        sum_list = sum_list + n
    mean = sum_list / len(nl)
    sum_squares = 0
    for n in nl:
        sum_squares = sum_squares + n**2
    mean_squares = sum_squares / len(nl)
    return mean_squares

In [11]:
input_list = [75, 80, 85, 90, 95]